<!DOCTYPE html>
<html>
  <head>
    <title>EventeX</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/application.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="container">
      
      <div class="hero-unit clearfix row">
        <div class="span6">
          <h1>EventeX</h1>
          <br/>
          <h3>
            Abertura das inscrições em 18/03/2012
          </h3>
        </div>
        
        <div class="span4 contact">
          <p>Nosso site está a caminho, mas qualquer dúvida até lá é só</p>
          <a href="mailto:eventex@eventex.com.br" class="btn btn-success btn-large">
            entrar em contato!
          </a>
        </div>
      </div>
      
      <footer class="footer">
        @EventeX 2012
      </footer>
    </div>
    
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>